/* Reset all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Image */
html { 
    background: url("image/garrett-parker-unsplash.jpg") no-repeat center center fixed; 
    background-size: cover;
}

body {
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 5rem;
}

.author {
    font: italic 2rem sans-serif;
}

@media only screen and (max-width: 767px) {
    .container {
        font-size: 4rem;
    }
  }