* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {
  color: bisque;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* border: 2px dashed gold; */
}

p {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.75rem;
  color: antiquewhite;
}


/* Optional media query for smaller screen */
@media only screen and (max-width: 767px) {
  html {
    background-image: url(nature-sm.jpg);
  }
}
